version: '3.8'
services:
  db:
    image: postgres:16-alpine
    container_name: alurafood-pagamento-db
    environment:
      - POSTGRES_DB=alurafood-pagamento
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
